<br>
<div class="jumbotron" id ="front-page">
  <h1>Blocmetrics</h1>
  <p>Blocmetrics is a tracking and reporting tool</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-sm' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-sm'%> today!
  </p>
</div>

<div class="row">
</div>
